@keyframes rotate {
    0%{
        transform: translate(0px, -300px);
    }
    25%{
        transform: translate(-250px, 150px) scale(1.5);
        
    }
    50%{
        transform: translate(-500px, 300px) scale(1);
        
    }
    75%{
        transform: translate(-250px, 150px) scale(0.5);
        
    }
    90%{
        z-index: -1;
    }
    100%{
        transform: translate(0px, -300px);
        
    }
}

body{
    background-image: url("1920x1080.jpg");
}

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.earth{
    border-radius: 100%;
    background-image: url("Earth_Western_Hemisphere_transparent_background.png");
    background-size: cover;
    height: 400px;
    width: 400px;
}
.moon{
    animation: rotate linear 3s infinite ;
    border-radius: 100%;
    background-image: url("moon-png-no-background-15.png");
    background-size: cover;
    height: 200px;
    width: 200px;
}